.space {
  background-color: $govuk-grey-4;
  border: 1px solid $govuk-border-colour;
  margin: $govuk-spacing-scale-2 0;
  padding: $govuk-spacing-scale-2 0;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  transition: background-color .1s ease;

  &:hover {
    border: 2px solid $govuk-blue;
  }

  h3 {
    margin: 0;
    @include govuk-font-bold-24;
  }

  a {
    text-decoration: none;
  }

  .running::before, .stopped::before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    height: $govuk-spacing-scale-2;
    margin-right: $govuk-spacing-scale-1;
    width: $govuk-spacing-scale-2;
  }

  .running::before {
    background-color: $govuk-green;
  }

  .stopped::before {
    background-color: $govuk-grey-1;
  }

  & + h2 {
    margin-top: $govuk-spacing-scale-6 * 3;
  }

  .paas-caption {
    display: block;
    color: black;
    @include govuk-font-regular-16;
  }
}

table.space-overview {
  th.name {
    min-width: 280px;
    width: 35%;
  }
}

.space-information {
  color: $govuk-text-colour;
}