.space {
  background-color: $govuk-grey-4;
  border: 1px solid $govuk-border-colour;
  margin: $govuk-spacing-scale-2 0;
  padding: $govuk-spacing-scale-2 0;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  transition: background-color .1s ease;
  text-align: left;
  @include govuk-font-regular-16;

  &:hover {
    border: 2px solid $govuk-blue;
  }

  .paas-space-entity{
    @include govuk-font-bold-24;
  }

  th {
    color: $govuk-text-colour;
    @include govuk-font-regular-16;
  }

  td:not(:first-child) {
    color: $govuk-text-colour;
  }

  .running::before, .stopped::before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 2px;
  }

  .running{
    width:1%;
    white-space:nowrap;
    &::before {
      background-color: $govuk-button-colour;
    }
  }

  .stopped {
    padding-left: $govuk-spacing-scale-4;
    &::before {
      background-color: $govuk-grey-2;
    }
  }

  & + h2 {
    margin-top: $govuk-spacing-scale-6 * 3;
  }

  .paas-caption {
    display: block;
    color: black;
    @include govuk-font-regular-16;
  }
}

table.space-overview {
  th.name {
    min-width: 280px;
    width: 35%;
  }
}

.space-information {
  color: $govuk-text-colour;
}